<!doctype html>


<html>
<body>
	<p> Hello!</p>
	<%= authStatus %>

<ul>
  <li><a href="/login">Log in </a></li>
  <li><a href="/logout">Log out</a></li>
  <li><a href="/myProfile">View my profile</a></li>
</ul>


</body>
</html>